header {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  border: 1px solid black;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.categoryBar {
  margin-top: 60px;
}

.recommended-card {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.recommended-card, img {
  width: 50%;
}

.start-recipe {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.finish-recipe {
  bottom: 0;
  position: fixed;
  width: 100%;

}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}
